:root {
  --background-color: #1e252b;
  --title-font-color: #ffffffe5;
  --general-font-color: #ffffff8c;
  --Login-font-color: #ffffffc7;
  --Cost-font-color: #ffa5378c;
}
button {
  cursor: pointer;
}
body {
  background-color: var(--background-color);
  font-family: Poppins;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 108px;
  padding-right: 108px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  padding-right: 21px;
  width: 19px;
  height: 21px;
}
.logo {
  color: var(--title-font-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header-nav-list {
  display: flex;
  gap: 41px;
}
.nav-list-item {
  color: var(--general-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sign-list {
  display: flex;
  gap: 41px;
}
.sign-list-item-login {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sign-list-item-sign-up {
  color: #fdf5ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 118px;
  height: 48px;
  background-color: #ff6e30;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-hero {
  margin-top: 100px;
  margin-bottom: 211px;
  background-image: url(img/Illustration.png);
  background-repeat: no-repeat;
  background-position: right;
}
.section-hero-title {
  color: var(--title-font-color);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 70px */
}
.hero-title-point {
  color: #ff6e30;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.section-hero-text {
  color: var(--general-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-bottom: 60px;
}
.hero-input-container{
  position: relative;
  display: inline-block;
}
.section-hero-input {
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 498px;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 110px;
  background-color: #283036;
  padding-left: 55px;
  border: none;
  outline: none;
}
.hero-img{
  position: absolute;
  flex-shrink: 0;
  padding-top: 20px;
  padding-left: 18px;
}
.section-hero-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 130px;
  height: 48px;
  border-radius: 8px;
  background-color: #ff6e30;
  border: none;
  flex-shrink:0;
  position: absolute; right: 11px; top: 8px;
}
.section-hero-link-list {
  display: flex;
  gap: 8px;
}
.section-hero-link-item {
  display: flex;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;
}
.tools-title-item {
  color: var(--title-font-color);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  padding-bottom: 25px;
}
.tools-text-item {
  color: var(--general-font-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  padding-bottom: 90px;
}
.tools-list-tc-container {
  padding-left: 30px;
}
.tools-title-list {
  display: flex;
  flex-direction: column;
}
.tools-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 25px;
  justify-content: center;
}
.tools-list-item {
  border-radius: 15px;
  padding: 33px;
  width: 359px;
  height: 261px;
}
.tools-list-item:hover{
  background-image: url(/img/tools-back.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.tools-list-title-container {
  display: flex;
  padding-left: 0;
}
.tools-list-img {
  width: 64px;
  height: 64px;
  margin-left: 0px;
}
.tools-list-title {
  color: var(--title-font-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 3px;
}
.tools-list-cost {
  color: var(--Cost-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}
.tools-list-text {
  color: var(--general-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  padding-bottom: 30px;
}
.tools-list-btn {
  color: var(--general-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: transparent;
  border: none;
  width: 106px;
  height: 42px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 124px;
}
.list-add-container-img {
  width: 28px;
  height: 28px;
  gap: 28px;
}
.tools-list-add-container {
  display: flex;
  gap: 28px;
}
.tools-btn-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 100px;
}
.tools-btn {
  color: #ff6e30;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 184px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #ffffff1a;
  cursor: pointer;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-trusted {
  background-color: #2c353d33;
  border-radius: 25px;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 1224px;
  height: 253px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 220px;
  background-image: url(/img/brand.png);
}
.trusted-title {
  color: var(--title-font-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  padding-top: 55px;
}
.trusted-list {
  display: flex;
  justify-content: center;
  gap: 107px;
  padding-top: 55px;
  padding-bottom: 60px;
}
.section-newcomer {
  display: flex;
  margin-bottom: 200px;
}
.newcomer-title-list {
  width: 427px;
  height: 300px;
  flex-shrink: 0;
}
.Newcomer-title {
  color: var(--title-font-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  padding-bottom: 30px;
  padding-top: 33px;
}
.Newcomer-text {
  color: var(--general-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  padding-bottom: 60px;
}
.Newcomer-btn {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #ff6e30;
  border-radius: 8px;
  width: 198px;
  height: 58px;
}
.Newcomer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.section-response {
  display: flex;
  padding-left: 300px;
}
.section-response-text {
  color: var(--general-font-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.21px;
  padding-left: 80px;
  width: 393px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-join{
  margin-bottom: 300px;
}
.join-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-list-title {
  color: var(--title-font-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  padding-bottom: 25px;
  padding-top: 260px;
}
.join-list-text {
  color: var(--general-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  padding-bottom: 100px;
  text-align: center;
}
.join-list-inp-container{
  position: relative;
}
.join-list-input {
  color: #ffffff61;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 519px;
  height: 58px;
  border-radius: 15px;
  background-color: #283036;
  padding-left: 24px;
}
.join-list-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 130px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #ff6e30;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 8px;
}
.nav-footer-title {
  color: var(--title-font-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav-footer-item {
  color: var(--general-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 10px;
}
.footer-Copyright-logo {
  color: var(--title-font-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 12px;
}
.footer-Copyright-title {
  color: var(--title-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav-footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  gap: 115px;
  margin-left: 108px;
  margin-right: 233px;
  padding-bottom: 40px;
}
.nav-footer-list {
  padding-top: 70px;
}
.footer-list-logo {
  display: flex;
  align-items: center;
}
.footer-Copyright-title {
  padding-bottom: 5px;
}
.nav-footer-title {
  padding-bottom: 20px;
}